.content {
    margin-left: 560px;
    width: 799px;
}
.title {
    display: flex;
}

.photo {
    width: 160px;
    height: 160px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 87px;
    margin-left: 30px;
    text-align: left;
}

.contacts {
    font-size: 18px;
    margin-top: 87px;
    text-align: right;
    
}

.about {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 14px;
    text-align: justify;
}